flask~=3.0.3
flask-smorest
python-dotenv~=1.0.1
SQLAlchemy~=2.0.30
flask_sqlalchemy
psycopg2-binary==2.9.9
flask-migrate
alembic==1.13.1
gunicorn
psycopg2
sentry-sdk[flask]
requests~=2.32.3
python-dateutil~=2.9.0.post0